.navbar {
    z-index: 100;
    background-color: white;
}

#site-content {
    display: flex;
    position: absolute;
    bottom: 0;
    top: 76px;
    > div {
        margin: 1vw;
    }
}

#main-content {
    width: 70vw;
}

#searchbar {
    display: flex;
    width: inherit;
    > * {
        height:inherit;
        margin: 1.25%;
    }
    > input{
        width: 75%;
    }
    > button{
        width: 15%;
    }
}

#side-content {
    width: 30vw;
    padding: 0;
}

@media (width < 768px) {
    #main-content {
        width: 100vw;
    }
    #side-content {
        display: none !important;
    }
}

@media (width < 512px){
    #searchbar {
        padding: 1%;
        > * {
            margin: 1%;
        }
        > input{
            width: 65%;
        }
        > button{
            width: 25%;
        }
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > * {
        width: 200px;
        flex-grow: 1;
        aspect-ratio: 1;
        margin: 2.5%;
    }
    > .blank-result {
        height: 0px;
    }
}

.preview {
    > * {
        margin-left: 7%;
    }
    > .preview-label {
        color: dimgray;
        font-size: medium;
        margin-left: 0 !important;
    }
    > .preview-image {
        width: 90%;
    }
    > .preview-description {
        width: 90%;
    }
    > .preview-tags {
        display: flex;
        > * {
            margin-right: 5px;
        }
    }
    > .see-more {
        margin-left: 0;
        color: gray;
    }
}