.navbar {
    z-index: 100;
    background-color: white;
}

#site-content {
    display: flex;
    position: absolute;
    top: 76px;
    margin-bottom: 5vh;
    > div {
        margin: 1vw;
    }
}

#main-content {
    width: 70vw;
}

#searchbar {
    display: flex;
    width: inherit;
    > * {
        height:inherit;
        margin: 1.25%;
    }
    > input{
        width: 75%;
    }
    > button{
        width: 15%;
    }
}

#side-content {
    width: 30vw;
    padding: 0;
}

@media (width < 768px) {
    #main-content {
        width: 100vw;
        > .grid {
            width: 95%;
        }
    }
    #side-content {
        display: none !important;
    }
}

@media (width < 512px){
    #searchbar {
        padding: 1%;
        > * {
            margin: 1%;
        }
        > input{
            width: 65%;
        }
        > button{
            width: 25%;
        }
    }
    #item-display, #item-details {
        width: 90% !important;
    }
}

.tag-btn {
    margin-left: 1.25%;
    margin-bottom: 2px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > * {
        width: 200px;
        flex-grow: 1;
        aspect-ratio: 1;
        margin: 2.5%;
    }
    > .blank-result {
        height: 0px;
    }
}

#preview {
    display: grid;
    > * {
        margin-left: 7%;
    }
    > #preview-image {
        width: 20vw;
        height: 20vw;
    }
    > #preview-description {
        width: 20vw;
    }
    > #preview-tags {
        display: flex;
        > * {
            margin-right: 5px;
        }
    }
    > #see-more {
        margin-left: 0;
        color: gray;
    }
}

.user-profile {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    > * {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

#item-page {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    > * {
        margin-left: 5%;
    }
    > #item-display {
        width: 30%;
    }
    > #item-details {
        width: 60%;
        > *:not(.label) {
            width: 100%;
            padding-left: 2vw;
        }
        > #item-tags, #item-links{
            > * {
                margin-right: 10px;
                margin-bottom: 10px;
            }
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

.label {
    color: dimgray;
    font-size: medium;
    margin-left: 0 !important;
}

.owner-icon {
    width: 40px;
    height: 40px;
}

#login-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 1vw;
    margin-bottom: 1vw;
    > * {
        margin-right: 1vw;
    }
}

#profile-short {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > #profile-buttons {
        display: flex;
        flex-direction: column;
        width: 50%;
        > h5 {
            margin: 5px;
            height: 20px;
        }
        > button {
            margin: 5px;
            height: 40px;
            width: 100%;
        }
    }
}

#new-user {
    display: flex;
    flex-direction: column;
    > div{
        margin: 1vw;
    }
}